@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.header {
  padding-top: 20px;
  font-size: 3vw;
  text-align: center;
  margin-top: 0px;
}

/* .img {
  margin: 0px;
  padding: 0px;
  background-image: url("/src/biography/a1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */

.blur {
  backdrop-filter: blur(30px);
  padding: 0px 19vw;
}

.btns {
  margin: 2vh 4vw 2vh 4vw;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  font-size: 2vw;
  background-color: transparent;
  border: none;
}
.btn:hover {
  color: #6ac045;
}

.mov-grid {
  /* padding-top: 4vh; */
  padding-bottom: 4vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mov-tile {
  position: relative;
  margin: 2vh 1vw;
  display: inline-block;
}

.mov-img {
  border: 5px solid white;
  border-radius: 5px;
  width: 200px;
  /* margin-left: 2vw; */
}

.mov-desc-layer {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  overflow-wrap: break-word;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s;
}

.mov-tile:hover .mov-desc-layer {
  visibility: visible;
  opacity: 1;
}

.mov-desc {
  max-height: 89%;
  font-size: 0.95rem;
  transform: translateY(1rem);
  transition: 0.2s;
}

.mov-tile:hover .mov-desc {
  transform: translateY(0);
}

.mov-img:hover {
  border: 5px solid #6ac045;
}

@media (max-width: 800px) {
  .mov-img {
    width: 150px;
  }
}

@media (max-width: 580px) {
  .mov-desc {
    font-size: 0.7rem;
  }
  .mov-img {
    width: 100px;
  }
}

@media (max-width: 370px) {
  .mov-desc {
    font-size: 0.5rem;
  }
  .mov-img {
    width: 70px;
  }
}
h2 {
  color: white;
}
h3 {
  color: white;
  text-align: center;
  margin-top: 0px;
}
